footer {
   background-color: var(--dark-moderate-cyan);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 1.5rem;
   padding: 50px 20px;
 }
 
 .footer-links {
   list-style: none;
   display: flex;
   align-items: center;
   gap: 3rem;
 }
 
 .footer-links a {
   text-decoration: none;
   color: var(--dark-desaturated-cyan);
   font-weight: var(--font-weight-600);
 }
 
 .footer-logos {
   list-style: none;
   display: flex;
   align-items: center;
   gap: 2rem;
   margin-top: 2.5rem;
 }
 
 .footer-logo {
   width: 130px;
 }